@using dotnet_core_identity_basics.Extensions
@{
    ViewData["Title"] = "Secret";
}
<h1>@ViewData["Title"]</h1>

<p>Secret!</p>

@{
    if (this.IfClaim("Products", "Create"))
    {
        <p>You will be able to see this text if you have create permission!</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context ,"Products", "Create")
</div>

<div>
    <br/>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Products", "Createa"))">Delete</a>
</div>